@media screen and ( max-width : 768px ) {

  .card-title {
    font-size: 83.5%;
    font-weight: 600;
  }

  .row {
    padding: 0.5rem;
  }

  .card-text {
    filter: opacity(0.7);
    font-size: 80%;
    margin-bottom: 0.25rem;
  }

  .container-cards {
    height: 100%;
  }
}
