:root {

  --background: rgba(165, 42, 42, 0.603);

  --color-buttons: rgba(165, 42, 42, 0.342);
}

* {
  box-sizing: border-box;
  font-family: Poppins , sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, strong, span, a {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.card-favorite {
  margin: 0.4rem 0;
}

.card-text {
  max-width: 240px;
}
