.header {
  align-items: center;
  background: var(--background);
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 1rem;
}

.header h1 {
  font-size: 1rem;
}

.header button {
  background: none;
  border: none;
}
